USE [master]
GO
/****** Object:  Database [MarketETicaretDB]    Script Date: 25.06.2026 18:23:43 ******/
CREATE DATABASE [MarketETicaretDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MarketETicaretDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MarketETicaretDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MarketETicaretDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MarketETicaretDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MarketETicaretDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MarketETicaretDB]
GO
/****** Object:  Table [dbo].[Adminler]    Script Date: 25.06.2026 18:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adminler](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](200) NOT NULL,
	[Rol] [nvarchar](30) NULL,
	[Aktif] [bit] NULL,
	[KayitTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adresler]    Script Date: 25.06.2026 18:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresler](
	[AdresID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[AdresBaslik] [nvarchar](50) NULL,
	[AcikAdres] [nvarchar](300) NULL,
	[Sehir] [nvarchar](50) NULL,
	[Ilce] [nvarchar](50) NULL,
	[PostaKodu] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdresID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hakkimizda]    Script Date: 25.06.2026 18:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hakkimizda](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Vizyon] [nvarchar](1000) NULL,
	[Misyon] [nvarchar](1000) NULL,
	[Icerik] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iletisim]    Script Date: 25.06.2026 18:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iletisim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Adres] [nvarchar](500) NULL,
	[Telefon] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[HaritaKodu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 25.06.2026 18:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](100) NOT NULL,
	[Aktif] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 25.06.2026 18:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Sifre] [nvarchar](200) NOT NULL,
	[Telefon] [nvarchar](20) NULL,
	[KayitTarihi] [datetime] NULL,
	[Aktif] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odemeler]    Script Date: 25.06.2026 18:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odemeler](
	[OdemeID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NOT NULL,
	[OdemeYontemiID] [int] NOT NULL,
	[OdemeDurumu] [nvarchar](50) NULL,
	[OdemeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OdemeYontemleri]    Script Date: 25.06.2026 18:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OdemeYontemleri](
	[OdemeYontemiID] [int] IDENTITY(1,1) NOT NULL,
	[OdemeAdi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeYontemiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sepetler]    Script Date: 25.06.2026 18:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sepetler](
	[SepetID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[OlusturmaTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SepetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SepetUrunleri]    Script Date: 25.06.2026 18:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SepetUrunleri](
	[SepetUrunID] [int] IDENTITY(1,1) NOT NULL,
	[SepetID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[Adet] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SepetUrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiparisDetaylari]    Script Date: 25.06.2026 18:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisDetaylari](
	[SiparisDetayID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[Adet] [int] NOT NULL,
	[BirimFiyat] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisDetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 25.06.2026 18:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[AdresID] [int] NOT NULL,
	[ToplamTutar] [decimal](10, 2) NOT NULL,
	[SiparisDurumu] [nvarchar](50) NULL,
	[SiparisTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 25.06.2026 18:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](150) NOT NULL,
	[KategoriID] [int] NOT NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
	[Stok] [int] NOT NULL,
	[Aciklama] [nvarchar](500) NULL,
	[ResimYolu] [nvarchar](300) NULL,
	[Aktif] [bit] NULL,
	[EklenmeTarihi] [datetime] NULL,
	[OneCikan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Adminler] ON 

INSERT [dbo].[Adminler] ([AdminID], [KullaniciAdi], [Sifre], [Rol], [Aktif], [KayitTarihi]) VALUES (1, N'yonetici_ahmet', N'123456Aa.', N'Süper Admin', 1, CAST(N'2025-12-25T17:13:00.083' AS DateTime))
INSERT [dbo].[Adminler] ([AdminID], [KullaniciAdi], [Sifre], [Rol], [Aktif], [KayitTarihi]) VALUES (2, N'moderator_ayse', N'mod123!', N'Editör', 1, CAST(N'2025-12-25T17:13:00.083' AS DateTime))
INSERT [dbo].[Adminler] ([AdminID], [KullaniciAdi], [Sifre], [Rol], [Aktif], [KayitTarihi]) VALUES (3, N'destek_mehmet', N'destek2024', N'Müşteri Temsilcisi', 1, CAST(N'2025-12-25T17:13:00.083' AS DateTime))
SET IDENTITY_INSERT [dbo].[Adminler] OFF
GO
SET IDENTITY_INSERT [dbo].[Adresler] ON 

INSERT [dbo].[Adresler] ([AdresID], [MusteriID], [AdresBaslik], [AcikAdres], [Sehir], [Ilce], [PostaKodu]) VALUES (1, 1, N'Ev Adresi', N'Cumhuriyet Mah. Çınar Sok. No:12 D:4', N'İstanbul', N'Kadıköy', N'34710')
INSERT [dbo].[Adresler] ([AdresID], [MusteriID], [AdresBaslik], [AcikAdres], [Sehir], [Ilce], [PostaKodu]) VALUES (2, 2, N'İş Adresi', N'Maslak Plaza Kat:5 No:22', N'İstanbul', N'Sarıyer', N'34398')
INSERT [dbo].[Adresler] ([AdresID], [MusteriID], [AdresBaslik], [AcikAdres], [Sehir], [Ilce], [PostaKodu]) VALUES (3, 3, N'Yazlık', N'Yalı Mah. Sahil Yolu No:5', N'İzmir', N'Çeşme', N'35930')
SET IDENTITY_INSERT [dbo].[Adresler] OFF
GO
SET IDENTITY_INSERT [dbo].[Hakkimizda] ON 

SET IDENTITY_INSERT [dbo].[Hakkimizda] OFF
GO
SET IDENTITY_INSERT [dbo].[Iletisim] ON 

SET IDENTITY_INSERT [dbo].[Iletisim] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi], [Aktif]) VALUES (1, N'Bilgisayar & Tablet', 1)
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi], [Aktif]) VALUES (2, N'Telefon & Aksesuar', 1)
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi], [Aktif]) VALUES (3, N'Erkek Giyim', 1)
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [Email], [Sifre], [Telefon], [KayitTarihi], [Aktif]) VALUES (1, N'Burak', N'Yılmaz', N'burak.yilmaz@email.com', N'pass1234', N'5551002030', CAST(N'2025-12-25T17:13:00.087' AS DateTime), 1)
INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [Email], [Sifre], [Telefon], [KayitTarihi], [Aktif]) VALUES (2, N'Esra', N'Demir', N'esra.demir@email.com', N'pass5678', N'5552003040', CAST(N'2025-12-25T17:13:00.087' AS DateTime), 1)
INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [Email], [Sifre], [Telefon], [KayitTarihi], [Aktif]) VALUES (3, N'Cem', N'Öztürk', N'cem.ozturk@email.com', N'sifre.1', N'5553004050', CAST(N'2025-12-25T17:13:00.087' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Odemeler] ON 

INSERT [dbo].[Odemeler] ([OdemeID], [SiparisID], [OdemeYontemiID], [OdemeDurumu], [OdemeTarihi]) VALUES (1, 1, 1, N'Başarılı', CAST(N'2025-12-25T17:13:00.093' AS DateTime))
INSERT [dbo].[Odemeler] ([OdemeID], [SiparisID], [OdemeYontemiID], [OdemeDurumu], [OdemeTarihi]) VALUES (2, 2, 1, N'Başarılı', CAST(N'2025-12-25T17:13:00.093' AS DateTime))
INSERT [dbo].[Odemeler] ([OdemeID], [SiparisID], [OdemeYontemiID], [OdemeDurumu], [OdemeTarihi]) VALUES (3, 3, 2, N'Kontrol Ediliyor', CAST(N'2025-12-25T17:13:00.093' AS DateTime))
SET IDENTITY_INSERT [dbo].[Odemeler] OFF
GO
SET IDENTITY_INSERT [dbo].[OdemeYontemleri] ON 

INSERT [dbo].[OdemeYontemleri] ([OdemeYontemiID], [OdemeAdi]) VALUES (1, N'Kredi Kartı')
INSERT [dbo].[OdemeYontemleri] ([OdemeYontemiID], [OdemeAdi]) VALUES (2, N'Havale / EFT')
INSERT [dbo].[OdemeYontemleri] ([OdemeYontemiID], [OdemeAdi]) VALUES (3, N'Kapıda Ödeme (Nakit)')
SET IDENTITY_INSERT [dbo].[OdemeYontemleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Sepetler] ON 

INSERT [dbo].[Sepetler] ([SepetID], [MusteriID], [OlusturmaTarihi]) VALUES (1, 1, CAST(N'2025-12-24T17:13:00.090' AS DateTime))
INSERT [dbo].[Sepetler] ([SepetID], [MusteriID], [OlusturmaTarihi]) VALUES (2, 2, CAST(N'2025-12-25T17:13:00.090' AS DateTime))
INSERT [dbo].[Sepetler] ([SepetID], [MusteriID], [OlusturmaTarihi]) VALUES (3, 3, CAST(N'2025-12-25T12:13:00.090' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sepetler] OFF
GO
SET IDENTITY_INSERT [dbo].[SepetUrunleri] ON 

INSERT [dbo].[SepetUrunleri] ([SepetUrunID], [SepetID], [UrunID], [Adet]) VALUES (4, 3, 1, 1)
INSERT [dbo].[SepetUrunleri] ([SepetUrunID], [SepetID], [UrunID], [Adet]) VALUES (5, 4, 5, 1)
INSERT [dbo].[SepetUrunleri] ([SepetUrunID], [SepetID], [UrunID], [Adet]) VALUES (23, 6, 5, 1)
SET IDENTITY_INSERT [dbo].[SepetUrunleri] OFF
GO
SET IDENTITY_INSERT [dbo].[SiparisDetaylari] ON 

INSERT [dbo].[SiparisDetaylari] ([SiparisDetayID], [SiparisID], [UrunID], [Adet], [BirimFiyat]) VALUES (1, 1, 2, 1, CAST(65000.00 AS Decimal(10, 2)))
INSERT [dbo].[SiparisDetaylari] ([SiparisDetayID], [SiparisID], [UrunID], [Adet], [BirimFiyat]) VALUES (2, 1, 3, 2, CAST(899.90 AS Decimal(10, 2)))
INSERT [dbo].[SiparisDetaylari] ([SiparisDetayID], [SiparisID], [UrunID], [Adet], [BirimFiyat]) VALUES (4, 3, 1, 1, CAST(45000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[SiparisDetaylari] OFF
GO
SET IDENTITY_INSERT [dbo].[Siparisler] ON 

INSERT [dbo].[Siparisler] ([SiparisID], [MusteriID], [AdresID], [ToplamTutar], [SiparisDurumu], [SiparisTarihi]) VALUES (1, 1, 1, CAST(66799.80 AS Decimal(10, 2)), N'Teslim Edildi', CAST(N'2025-12-25T17:13:00.090' AS DateTime))
INSERT [dbo].[Siparisler] ([SiparisID], [MusteriID], [AdresID], [ToplamTutar], [SiparisDurumu], [SiparisTarihi]) VALUES (2, 2, 2, CAST(12500.00 AS Decimal(10, 2)), N'Kargolandı', CAST(N'2025-12-25T17:13:00.090' AS DateTime))
INSERT [dbo].[Siparisler] ([SiparisID], [MusteriID], [AdresID], [ToplamTutar], [SiparisDurumu], [SiparisTarihi]) VALUES (3, 3, 3, CAST(45000.00 AS Decimal(10, 2)), N'Hazırlanıyor', CAST(N'2025-12-25T17:13:00.090' AS DateTime))
SET IDENTITY_INSERT [dbo].[Siparisler] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [KategoriID], [Fiyat], [Stok], [Aciklama], [ResimYolu], [Aktif], [EklenmeTarihi], [OneCikan]) VALUES (1, N'MacBook Pro M2 13 inç', 1, CAST(5000.00 AS Decimal(10, 2)), 10, N'16GB RAM, 512GB SSD Uzay Grisi', N'img/231810c1-8381-4ede-b5af-93d7edbabe38.jpg', 1, CAST(N'2025-12-25T17:13:00.090' AS DateTime), 0)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [KategoriID], [Fiyat], [Stok], [Aciklama], [ResimYolu], [Aktif], [EklenmeTarihi], [OneCikan]) VALUES (2, N'iPhone 15 Pro 128GB', 2, CAST(128000.00 AS Decimal(10, 2)), 25, N'Titanyum Gövde, Siyah Renk', N'img/d609579b-9b2a-45f7-8f7b-5006009fd791.jpg', 1, CAST(N'2025-12-25T17:13:00.090' AS DateTime), 0)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [KategoriID], [Fiyat], [Stok], [Aciklama], [ResimYolu], [Aktif], [EklenmeTarihi], [OneCikan]) VALUES (3, N'Slim Fit Kot Pantolon', 3, CAST(500.00 AS Decimal(10, 2)), 99, N'Mavi renk, likralı kumaş', N'img/915a7a60-1b5c-498b-9500-72ae753103b7.jpg', 1, CAST(N'2025-12-25T17:13:00.090' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Adminler__5BAE6A756883F00B]    Script Date: 25.06.2026 18:23:43 ******/
ALTER TABLE [dbo].[Adminler] ADD UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Musteril__A9D10534B1D5738F]    Script Date: 25.06.2026 18:23:43 ******/
ALTER TABLE [dbo].[Musteriler] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adminler] ADD  DEFAULT ('Admin') FOR [Rol]
GO
ALTER TABLE [dbo].[Adminler] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Adminler] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Kategoriler] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Musteriler] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Musteriler] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Odemeler] ADD  DEFAULT ('Beklemede') FOR [OdemeDurumu]
GO
ALTER TABLE [dbo].[Odemeler] ADD  DEFAULT (getdate()) FOR [OdemeTarihi]
GO
ALTER TABLE [dbo].[Sepetler] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT ('Hazırlanıyor') FOR [SiparisDurumu]
GO
ALTER TABLE [dbo].[Siparisler] ADD  DEFAULT (getdate()) FOR [SiparisTarihi]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [OneCikan]
GO
ALTER TABLE [dbo].[Adresler]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD FOREIGN KEY([OdemeYontemiID])
REFERENCES [dbo].[OdemeYontemleri] ([OdemeYontemiID])
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[Sepetler]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[SepetUrunleri]  WITH CHECK ADD FOREIGN KEY([SepetID])
REFERENCES [dbo].[Sepetler] ([SepetID])
GO
ALTER TABLE [dbo].[SepetUrunleri]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparisler] ([SiparisID])
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD FOREIGN KEY([AdresID])
REFERENCES [dbo].[Adresler] ([AdresID])
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
USE [master]
GO
